$bluecolor = #317fb4
.active
	color $bluecolor

section.section-page
	background url(img/lines.svg)
	background-size contain
	background-repeat no-repeat
	background-position 0 20%
.page__title
	text-align center
	font-family 'Bender'
	font-weight bold
.page-content
	width 67%
	float left
	margin-top 30px
.page-sidebar
	width 30%
	float right
	margin-top 30px
.free-consultation-form
	background url(icons/dots.png)
	padding 50px 30px 50px 30px
	box-sizing border-box
.free-consultation-form__title
	font-family 'Exo 2'
	font-size 26px
	text-align center
	color $bluecolor
.free-consultation-form__text
	font-weight 300
	color #666
	text-align center
	margin-top 10px
.free-consultation-form__input
	background #fff
	border 1px solid #dedede
	padding 10px 10px 10px 10px
	width 60%
	margin 0 auto
	display block
	font-size 16px
	margin-top 30px
	&:focus
		outline none
.free-consultation-form__submit
	width 200px
	margin 0 auto
	display block
	font-family 'Exo 2'
	text-transform uppercase
	font-weight 500
	border none
	background $bluecolor
	text-align center
	padding 10px
	font-size 16px
	color #fff
	border-radius 3px
	margin-top 30px
	cursor pointer
	&:hover
		background #4892C3
	&:active
		background #50647F
.page-content-one__title
	font-family 'Exo 2'
	font-size 25px
	line-height 30px
.page-content-one
	background $bluecolor
	color #fff
	padding 10px 30px 30px 50px
	margin-top 40px
	box-sizing border-box
.page-content-one li
	font-size 15px
	line-height 23px
	margin-bottom 5px
.page-content-one li:before
	content "\2014"
	margin-right 5px


.page-content-two
	background #f6f6f6
	padding 10px 30px 30px 50px
	margin-top 40px
	box-sizing border-box
	width 56%
	float left
.page-content-two ol
	padding 0
	padding-left 20px
.page-content-two__title
	font-family 'Exo 2'
	font-size 25px
	line-height 30px
.page-content-two li
	list-style-type decimal
	font-size 15px
	line-height 23px
	font-weight 300


.page-content-three
	background #f6f6f6
	padding 30px
	text-align center
	margin-top 40px
	box-sizing border-box
	width 40%
	float right
	font-weight 300
.page-content-three__title
	font-size 19px
	font-weight 500
	margin-top 0px
.page-content-three__icon
	width 55px
	height 55px
	margin 0 auto
	display block
	background url(icons/also.png)
	background-repeat no-repeat
.page-content-three li
	font-size 15px
	line-height 20px
.page-content-three li:after
	content ""
	display block
	width 60px
	height 1px
	background #ccc
	margin 0 auto
	margin-top 5px
	margin-bottom 5px
.page-content-three li:last-child:after
	height 0
.page-sidebar-price
	background url(icons/dots_blue.png)
	padding 30px
	box-sizing border-box
	text-align center
	color #fff
.page-sidebar-price__title
	font-size 20px
	font-weight 300
.page-sidebar-price__price
	font-weight 400
	font-family 'Exo 2'
	font-size 48px
	line-height 1
	margin-top 10px
.page-sidebar-price__price span
	font-family 'ALS Rubl'
.page-sidebar-banner
	margin-top 40px
	width 100%
	position relative
	height auto
	overflow hidden
.page-sidebar-banner__top
	text-align center
	position absolute
	width 100%
	padding 30px
	top 0
	box-sizing border-box
	font-family 'Exo 2'
	font-size 18px
	height 60%
	font-weight bold
	z-index 1
.page-sidebar-banner__top h2
	color $bluecolor
	text-transform uppercase
	font-size 24px
	margin-bottom 0px
	font-weight bold
.page-sidebar-banner__bottom
	text-align center
	position absolute
	width 100%
	padding 30px
	top 60%
	box-sizing border-box
	font-size 18px
	height 40%
	z-index 1
	color #fff
.page-sidebar-banner__bottom:before
	content ""
	position absolute
	bottom -65px
	left 0
	width 100%
	height 150%
	z-index -1
	opacity 0.9
	background url(icons/dots_dark.png)
	-moz-transform: skewY(-7deg)
	-webkit-transform: skewY(-7deg)
	-o-transform: skewY(-7deg)
	-ms-transform: skewY(-7deg)
	transform: skewY(-7deg)
.page-sidebar-banner__bottom h2
	color $bluecolor
	text-transform uppercase
	font-size 20px
	line-height 1.2
	margin-bottom 0px
	font-weight bold
	color #fff
.page-sidebar-banner__img
	width 100%

.page-sidebar-garant
	background #f6f6f6
	padding 30px
	text-align center
	margin-top 40px
	box-sizing border-box
	font-size 22px
	line-height 28px
.page-sidebar-garant__title
	font-size 19px
	font-weight 500
	margin-top 0px
.page-sidebar-garant__day
	width 140px
	margin 0 auto
	margin-bottom 20px
.day-value
	width 140px
	height 140px
	padding-top 10px
	vertical-align middle
	display table-cell
	background url(icons/krug.png)
	background-position center center
	background-repeat no-repeat
	font-family 'Exo 2'
	font-size 52px
	text-align center
.page-sidebar-garant__day span
	font-family 'Ubuntu'
	font-size 16px
	color #999
	display block
	margin-top 10px



.page-content-tabs
	border 1px solid #ccc
	padding 10px 30px 10px 30px
.page-content-tabs__item
	display inline-block
	margin-right 30px
.page-content-tabs__link
	font-weight bold
	text-transform uppercase
	font-size 12px
	border-bottom 1px dashed #ccc
	&:hover
		border-bottom 1px dashed $bluecolor
.page-content-tabs__link.active
	border-bottom none
.page-content-text
	margin-top 30px
	font-weight 300
	margin-bottom 40px
.page-content-text li:before
	content "\2014"
	margin-right 10px
.page-content-text quote
	background #f4f4f4
	display block
	border-left 5px solid $bluecolor
	padding 15px 30px 15px 30px
	box-sizing border-box
	margin-top 30px
	margin-bottom 30px
.page-content-text h2
	padding-top 20px
.page-content-text h3
	padding-top 20px
.page-content-text img
	width 100%
	margin-bottom 30px
.page-content-gallery img
	border 1px solid #ebebeb
	display block
	box-sizing border-box
	width 32%
	float left
	margin-right 2%
	margin-top 10px
	margin-bottom 10px
.page-content-gallery img:nth-child(3n+3)
	margin-right 0
.novalid
	border-color red




