$max-width = 1230px
$min-width = 1024px
$bluecolor = #317fb4
$edit = #c2fcc4

body
	padding 0
	margin 0
	font-family ubuntu
	font-size 16px
	line-height 24px

.layout
	max-width $max-width
	min-width $min-width
	margin 0 auto
	padding 30px
	box-sizing border-box
	position relative
	//background #c2fcc4

.clearfix:after{
	content "."
	display block
	height 0
	visibility hidden
	clear both
}
ul,li
	margin 0
	padding 0
	list-style-type none
a
	text-decoration none
	color #000
	&:hover
		color red
h1
	font-size 30px;
	line-height 36px;
	font-weight normal
h2
	font-size 17px
	line-height 23px
	font-weight normal
/* ------------- Шапка ---------------*/

section.head
	background-image  url(../img/dots.png)
.header-logo
	float left
	width 10%
	margin-right 4%
.header-logo__img
	width 100px

.header-description
	float left
	width 31%
	margin-right 5%
	font-family bender
	font-size 19px
	line-height 28px
	color #666
.header-description_blue
	font-weight bold
	color $bluecolor

.header-contacts
	width 29%
	float left
	margin-top 5px
	height 30px
.header-contacts__img
	display block
	float left
	width 50px
	height 50px
	background url(../img/phoneicon.png)
	margin-right 15px

.header-contacts__text
	font-family exolight
	font-size 15px;


.header-contacts__phone
	font-family exosemibold
	font-size 20px;
	line-height 30px;
.header__phone_gray
	color #999
	font-family exoregular


.header-submit
	width 200px
	float right
	margin-top 7px
.header-submit__button
	width 200px
	background $bluecolor
	font-family exomedium
	border none
	color #fff
	text-transform uppercase
	padding 10px 20px 10px 20px
	font-size 13px
	box-sizing border-box
	border-radius 3px
	cursor pointer

/* ------------- Меню ---------------*/

.menu
	margin-top 30px
	padding-top 5px
	border-top 1px solid #999
	padding-top 20px
.menu__item
	text-transform uppercase
	font-family exosemibold
	font-size 16px
	height 50px
	float left
	display block
	margin-right 48px
	&:hover .submenu
		display block
		opacity 1
		transition-duration 1s
.menu__item:last-child
	margin-right 0
.submenu
	display none
	opacity 0
	z-index 100
	margin-top 15px
	transition-duration 1s
	position absolute
	background $bluecolor
	max-width 300px
.submenu:before
	content ""
	display block
	margin-left 20px
	margin-top -7px
	width: 0;
	height: 0;
	position absolute
	border-style: solid;
	border-width: 0 7px 7px 7px;
	border-color: transparent transparent $bluecolor transparent;
.submenu__item
	color #fff
	font-family ubuntu
	text-transform none
	display block
	font-size 15px
	line-height 23px
	border-bottom 1px solid rgba(255,255,255,0.4)
	padding 8px 15px 8px 15px
.submenu__item:last-child
	border none
.submenu__link
	color #fff

/* ------------- Слайдер ---------------*/

section.slider
	height 340px
	background-image url(../img/dots.png)
section.slider:before
	background-image url(../img/lines.svg)
	background-size cover
	background-repeat no-repeat
	content ""
	position absolute
	z-index -1
	width 100%
	height 340px
	margin-top -160px
.mainslider
	margin-top -65px


.owl-next
	position absolute
	top 0
	bottom 0
	right 20px
	margin auto
	width 48px
	height 48px
	opacity .5
	background-image url(../img/next.png)
	&:hover
		opacity .9
.owl-prev
	position absolute
	top 0
	bottom 0
	left 20px
	margin auto
	width 48px
	height 48px
	opacity .5
	background-image url(../img/prev.png)
	&:hover
		opacity .9

.owl-pagination
	position absolute
	z-index 1000
	top:80%
	left:60%
.owl-page
	background #fff
	display inline-block
	margin-right 7px
	width 10px;
	height 10px;
	border-radius 10px
.owl-page.active
	background #2a6991
.owl-item
	width 100%
.mainslider__item
	width 100%
.mainslider__img
	width 100%

/* ------------- Осн. инфо ---------------*/

section.info
	background-image url(../img/lines.svg)
	background-size contain
	background-repeat repeat-y
.maininfo__title
	font-family bender
	font-weight bold
	text-align center
.maininfo__title_blue
	color $bluecolor
.maininfo__text
	font-weight 300
	line-height 28px
	max-width 70%
	margin 0 auto
	text-align center
.maininfo-cat
	margin-top 60px
	margin-left -15px
	margin-right -15px
.maininfo-cat__item
	width 25%
	height 250px
	padding 15px
	float left
	box-sizing border-box
	position relative
.maininfo-cat__thumbnail
	max-height 150px
	overflow hidden
.maininfo-cat__img
	width 100%
	display inline-block
	vertical-align middle
.maininfo-submit
	border 1px solid #aaa
	height 180px
	box-sizing border-box
.maininfo-submit__text
	display block
	max-width 90%
	text-align center
	margin 0 auto
	margin-top 30px
.maininfo-submit__button
	width 200px
	background $bluecolor
	font-family exomedium
	border none
	color #fff
	text-transform uppercase
	padding 10px 20px 10px 20px
	font-size 13px
	box-sizing border-box
	border-radius 3px
	cursor pointer
	margin 0 auto
	display block
	margin-top 20px

/* -------- Cравнение затрат ----------*/

section.compare
	background-image url(../img/dots.png)
.compare__title
	font-family bender
	font-weight bold
	text-transform uppercase
	letter-spacing 6px
	text-align center
.compare__title:before
	position absolute
	content ""
	width 28%
	border-top 1px solid #ccc
	top 70px;
	display block
.compare__title:after
	position absolute
	content ""
	width 28%
	right 30px
	border-top 1px solid #ccc
	top 70px;
	display block
.compare__text
	font-weight 300
	line-height 28px
	max-width 50%
	margin 0 auto
	text-align center
.compare-item
	width 50%
	margin-top 40px
	padding-left 50px
	float left
	border-right 1px dashed #ccc
	box-sizing border-box
	&:last-child
		border none
.compare-item__title
	margin-top 30px
	font-family bender
	font-size 20px
	letter-spacing 2px
	font-weight bold
	text-transform uppercase
	color $bluecolor
.compare-item__graph
	display block
	margin-top 30px
	width 50%
	margin-right 5%
	float left
.compare-item__description
	float left
	width 45%
	margin-top 60px
.compare-item__list
	display block
.compare-item__list:before
	content ""
	display inline-block
	width 5px
	height 5px
	vertical-align middle
	background #000
	margin-right 10px
	margin-top -3px
	transform: rotate(45deg);
.compare-item__list:nth-child(1):before
	background #329bd3
.compare-item__list:nth-child(2):before
	background #ebb200
.compare-item__list:nth-child(3):before
	background #d55489
.compare-item__list:nth-child(4):before
	background #a299df
.compare-item__list:nth-child(5):before
	background #32d5cb

.compare-item__result
	font-weight 300
	text-align center
	display inline-block
	width 80%
	clear both
	margin 0 auto
	margin-top 30px
.compare-item__price
	font-size 27px
	padding-bottom 60px
	color #a2a2a2
	text-align center
	font-family exolight
	margin-top 30px
	width 80%

/* -------- Специалисты ----------*/

section.specialists
	background-image url(../img/dots_dark.png)
.specialists__title
	font-family bender
	font-size 27px
	color #fff
	text-transform uppercase
	letter-spacing 6px
	text-align center
.specialists__title:before
	position absolute
	content ""
	width 28%
	border-top 1px solid rgba(255,255,255,0.4)
	top 70px;
	display block
.specialists__title:after
	position absolute
	content ""
	width 28%
	right 30px
	border-top 1px solid rgba(255,255,255,0.4)
	top 70px;
	display block
.specialists-all
	display block
	width 15%
	margin 0 auto
	margin-top 15px
	text-align center
.specialists-all:before
	content ""
	width 10px
	height 10px
	position absolute
	background url(../img/cross.png)
	display inline-block
	background-repeat no-repeat
	margin-left -17px
	margin-top 8px
.specialists-all:after
	content ""
	width 10px
	height 10px
	position absolute
	background url(../img/cross.png)
	display inline-block
	background-repeat no-repeat
	margin-left 7px
	margin-top 8px
.specialists-all__link
	font-family bender
	color #8ba0be
	font-size 12px
	letter-spacing 2px
	text-transform uppercase
	text-align center
.specialists-list
	margin-top 40px
	margin-bottom 40px
.specialists-list__item
	width 33.333333333333%
	text-align center
	float left
	box-sizing border-box
	border-right 1px dashed rgba(255,255,255,0.3)
	&:last-child
		border none
.specialists-photo
	width 170px
	height 170px
	margin 0 auto
	border-radius 170px
	overflow hidden
.specialists-list__img
	height 100%
.specialists-list__name
	margin-top 25px
	color #fff
.specialists-list__info
	margin-top 15px
	font-weight 300
	color #a0abba
.specialists-list__submit
	width 200px
	background $bluecolor
	font-family exomedium
	border none
	color #fff
	text-transform uppercase
	padding 10px 20px 10px 20px
	font-size 13px
	box-sizing border-box
	border-radius 3px
	cursor pointer
	margin 0 auto
	bottom 0
	display block
	margin-top 20px


/* ------------ Причины --------------*/

section.reasons
	background-image url(../img/lines.svg)
	background-repeat no-repeat
	background-position 0 -300px
.reasons__title
	font-family bender
	font-weight bold
	font-size 27px
	color #000
	text-transform uppercase
	letter-spacing 6px
	text-align center
.reasons__title:before
	position absolute
	content ""
	width 21%
	border-top 1px solid rgba(0,0,0,0.4)
	top 71px;
	display block
.reasons__title:after
	position absolute
	content ""
	width 21%
	right 30px
	border-top 1px solid rgba(0,0,0,0.4)
	top 71px;
	display block
.reasons__title_blue
	color $bluecolor
.reasons-list
	margin-top 60px
	margin-bottom 60px
	column-count: 2;
.reasons-list__item

	padding 15px
	padding-right 30px
	box-sizing border-box
	display inline-block
	position relative
.reasons-list__icon_one
	width 60px
	height 60px
	position relative
	background url(../img/reason1.svg)
	background-repeat no-repeat
	float left
	margin-right 20px
.reasons-list__icon_two
	width 60px
	height 60px
	position relative
	background url(../img/reason2.svg)
	background-repeat no-repeat
	float left
	margin-right 20px
.reasons-list__icon_three
	width 60px
	height 80px
	position relative
	background url(../img/reason3.svg)
	background-repeat no-repeat
	float left
	margin-right 20px
.reasons-list__icon_four
	width 60px
	height 60px
	position relative
	background url(../img/reason4.svg)
	background-repeat no-repeat
	float left
	margin-right 20px

.reasons-list__title
	color $bluecolor
	font-size 18px
	line-height 27px
.reasons-list__text
	font-size 15px
	line-height 24px
	font-weight 300
	padding-left 80px
	display block


/* ------------- Отзывы ---------------*/

section.feedback
	background-image url(../img/dots.png)
.feedback__title
	font-family bender
	font-weight bold
	font-size 27px
	color #000
	text-transform uppercase
	letter-spacing 6px
	text-align center
.feedback__title:before
	position absolute
	content ""
	width 27%
	border-top 1px solid rgba(0,0,0,0.2)
	top 71px;
	display block
.feedback__title:after
	position absolute
	content ""
	width 27%
	right 30px
	border-top 1px solid rgba(0,0,0,0.2)
	top 71px;
	display block
.feedback-all
	display block
	width 15%
	margin 0 auto
	margin-top 15px
	text-align center
.feedback-all:before
	content ""
	width 10px
	height 10px
	position absolute
	background url(../img/cross.png)
	display inline-block
	background-repeat no-repeat
	margin-left -17px
	margin-top 8px
.feedback-all:after
	content ""
	width 10px
	height 10px
	position absolute
	background url(../img/cross.png)
	display inline-block
	background-repeat no-repeat
	margin-left 7px
	margin-top 8px
.feedback-all__link
	font-family bender
	color #8ba0be
	font-size 12px
	letter-spacing 2px
	text-transform uppercase
	text-align center
.fakebackground:before
	content ""
	position absolute
	top:0
	height 100%
	background #e2ebf2
	width 50%
	left 0
	right 0
	margin auto
	z-index -1
	-moz-transform: skewX(-15deg);
	-webkit-transform: skewX(-15deg);
	-o-transform: skewX(-15deg);
	-ms-transform: skewX(-15deg);
	transform: skewX(-15deg);
.feedback-list
	margin-top 40px
	margin-bottom 40px
.feedback-list__item
	width 49%
	float left
	background #fff
	padding 30px
	box-sizing border-box
	box-shadow 0px 2px 13px 0px rgba(0, 0, 0, 0.07)
.feedback-list__item:nth-child(2n)
	float right
.feedback-list__photo
	width 135px
	height 135px
	border-radius 135px
	overflow hidden
	float left
	margin-right 30px
	position relative
.feedback-list__img
	height 100%
.feedback-list__name
	font-size 16px
	color $bluecolor
.feedback-list__info
	font-size 13px
	color #666
.feedback-list__text
	font-size 15px
	margin-top 10px
	font-style italic
	font-weight 300
	line-height 23px
	color #666
	height 92px
	overflow hidden
	text-overflow ellipsis
.feedback-list__more
	border 1px solid #8c8c8c
	padding 3px 13px 3px 13px
	display inline-block
	margin-left 165px
	margin-top 15px
.feedback-list__link
	text-transform uppercase
	color #8c8c8c
	font-weight 200
	font-size 11px

/* ------------- Новости --------------*/



.news__title
	font-family bender
	font-weight bold
	font-size 27px
	color #000
	text-transform uppercase
	letter-spacing 6px
	text-align center
.news__title:before
	position absolute
	content ""
	width 32%
	border-top 1px solid rgba(0,0,0,0.15)
	top 71px;
	display block
.news__title:after
	position absolute
	content ""
	width 32%
	right 30px
	border-top 1px solid rgba(0,0,0,0.15)
	top 71px;
	display block
.news-all
	display block
	width 15%
	margin 0 auto
	margin-top 15px
	text-align center
.news-all:before
	content ""
	width 10px
	height 10px
	position absolute
	background url(../img/cross.png)
	display inline-block
	background-repeat no-repeat
	margin-left -17px
	margin-top 8px
.news-all:after
	content ""
	width 10px
	height 10px
	position absolute
	background url(../img/cross.png)
	display inline-block
	background-repeat no-repeat
	margin-left 7px
	margin-top 8px
.news-all__link
	font-family bender
	color #8ba0be
	font-size 12px
	letter-spacing 2px
	text-transform uppercase
	text-align center

.news-list
	margin-top 40px
	margin-bottom 40px
.news-list__item
	width 33.33333333333%
	float left
	padding-right 10px
	box-sizing border-box
.news-list__day
	display inline-block
	font-family exoregular
	background $bluecolor
	padding 6px 10px 6px 10px
	color #fff
	margin-right 10px
.news-list__month
	display inline-block
	font-family exolight
	text-transform uppercase
	letter-spacing 1px
	font-size 12px
	color #999999
.news-list__content
	display block
	padding-left 32px
	border-left 1px solid #ccc
	margin-left 18px
.news-list__link
	color $bluecolor
	line-height 23px
.news-list__text
	font-size 15px
	line-height 23px
	font-weight 300
.news-list__year
	color #999999
	font-family exolight
	letter-spacing 1px
	margin-left 5px
	font-size 12px
	font-weight 300
	margin-top 5px

/* ------------ СЕО-текст -------------*/

section.seotext
	background-image url(../img/seobackground.png)/*base64:skip*/
	background-size cover
	background-position center center
	background-repeat no-repeat
.seotext__title
	font-family bender
	font-weight bold
	font-size 30px
	margin-top 40px
	color #fff
	text-align center
.seotext__title:after
	content ""
	width 100px
	border-top:2px solid #fff
	margin 0 auto
	display block
	margin-top 40px
	margin-bottom 40px
.seotext__text
	width 70%
	line-height 28px
	display block
	margin 0 auto
	color #fff
	font-weight 300
	margin-bottom 70px

/* ------------- Шрифты ---------------*/

@font-face {
    font-family: 'exobold';
    src: url('../fonts/exo2.0-bold-webfont.woff2') format('woff2'),
         url('../fonts/exo2.0-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'exolight';
    src: url('../fonts/exo2.0-light-webfont.woff2') format('woff2'),
         url('../fonts/exo2.0-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'exomedium';
    src: url('../fonts/exo2.0-medium-webfont.woff2') format('woff2'),
         url('../fonts/exo2.0-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'exoregular';
    src: url('../fonts/exo2.0-regular-webfont.woff2') format('woff2'),
         url('../fonts/exo2.0-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'exosemibold';
    src: url('../fonts/exo2.0-semibold-webfont.woff2') format('woff2'),
         url('../fonts/exo2.0-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'ubuntubold';
    src: url('../fonts/ubuntu-b-webfont.woff2') format('woff2'),
         url('../fonts/ubuntu-b-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'ubunturegular';
    src: url('../fonts/ubuntu-r-webfont.woff2') format('woff2'),
         url('../fonts/ubuntu-r-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family:'ubuntulight';
    src: url('../fonts/Ubuntu Light Regular.eot');
	src: url('../fonts/Ubuntu Light Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Ubuntu Light Regular.woff2') format('woff2'),
		url('../fonts/Ubuntu Light Regular.woff') format('woff'),
		url('../fonts/Ubuntu Light Regular.svg#Ubuntu Light Regular') format('svg');
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+000D-E000;
}


