
$max-width = 1230px
$min-width = 1024px
$bluecolor = #317fb4
$edit = #c2fcc4

@import url('layout.css')
@import url('fonts/exo/font.css')
@import url('fonts/ubuntu/font.css')
@import url('fonts/bender/font.css')
@import url('../js-libs/owl-carousel/owl.carousel.css')

body
	padding 0
	margin 0
	font-family 'Ubuntu', sans-serif
	font-size 16px
	line-height 24px
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-o-font-smoothing: antialiased;
	font-smoothing: antialiased;
.clearfix:after{
	content "."
	display block
	height 0
	visibility hidden
	clear both
}
ul,li
	margin 0
	padding 0
	list-style-type none
a
	text-decoration none
	color #000
	border-bottom none
	padding-bottom 1px
	&:hover
		color $bluecolor
		border-bottom 1px solid rgba(50,127,179,0.5)
h1
	font-size 30px;
	line-height 36px;
	font-weight normal
h2
	font-size 30px;
	line-height 36px;
	font-weight normal
h3
	font-size 16px
	line-height 24px
	font-weight normal

/* ------------- Layout ---------------*/

@import 'layout.styl'


/* ------------- Шапка ---------------*/




section:nth-child(1)
	background url(icons/dots.png)
.header-logo__img
	width 100px
.header-logo__link
	&:hover
		border none
.header-description__text
	font-family 'Bender'
	font-size 19px
	line-height 25px
	color #666
.header-description__text_blue
	font-weight bold
	color $bluecolor
.header-contacts
	font-family 'Exo 2'
.header-contacts__icon
	display block
	float left
	width 50px
	height 50px
	background url(icons/phoneicon.png)
	margin-right 15px
.header-contacts__text
	font-size 15px
.header-contacts__phone
	font-size 20px
	line-height 30px
.header-contacts__phone_gray
	color #999
.header-submit__button
	width 200px
	background $bluecolor
	font-family 'Exo 2'
	font-weight 500
	border none
	color #fff
	text-transform uppercase
	padding 10px 20px 10px 20px
	font-size 13px
	box-sizing border-box
	border-radius 3px
	cursor pointer
	transition-duration .3s
	&:hover
		background #4892C3
	&:active
		background #50647F




/* ------------- Меню ---------------*/



section:nth-child(2)
	background url(icons/dots.png)
.menu
	margin-top -30px
	border-top 1px solid #999
	padding-top 20px
.menu__item
	transition-duration .4s
.menu__link
	text-transform uppercase
	font-family 'Exo 2'
	font-weight 600
	font-size 16px
.menu__link_hide
	text-transform uppercase
	font-family 'Exo 2'
	font-weight 600
	font-size 16px
	cursor pointer
.submenu
	display none
	opacity 0
	z-index 100
	margin-top 15px
	transition-duration 1s
	position absolute
	background $bluecolor
	max-width 300px
.submenu:before
	content ""
	display block
	margin-left 20px
	margin-top -7px
	width: 0;
	height: 0;
	position absolute
	border-style: solid;
	border-width: 0 7px 7px 7px;
	border-color: transparent transparent $bluecolor transparent;
.submenu__item
	color #fff
	text-transform none
	display block
	border-bottom 1px solid rgba(255,255,255,0.4)
	padding 8px 15px 8px 15px
.submenu__item:last-child
	border none
.submenu__link
	color #fff
	&:hover
		color #fff
		border-bottom 1px solid rgba(255,255,255,0.4)



/* ------------- Слайдер ---------------*/



section:nth-child(3)
	background url(icons/dots.png)
	position relative
section:nth-child(3):before
	background-image url(img/lines.svg)
	background-size cover
	background-repeat no-repeat
	content ""
	position absolute
	z-index -1
	width 100%
	height 160%
	margin-top -220px
.slider
	opacity 0
	transition-duration .5s;
.slider__splash
	background rgba(45,126,181,.6)
	-moz-transform: skewX(-15deg);
	-webkit-transform: skewX(-15deg);
	-o-transform: skewX(-15deg);
	-ms-transform: skewX(-15deg);
	transform: skewX(-15deg);
.slider__description
	font-family 'Exo 2'
	font-weight 600
	font-size 30px
	line-height 36px
	color #fff
.slider__description_left
	font-family 'Exo 2'
	font-weight 600
	font-size 30px
	line-height 36px
	color #fff
.slider__text
	text-transform uppercase
.slider__subtext
	font-weight 300
.slider__more
	padding 10px 15px 10px 15px
	text-transform uppercase
	font-size 13px
	line-height 19px
	color #fff
	margin-top 30px
	display inline-block
	box-sizing border-box
	border 1px solid #fff
	transition-duration .3s
	&:hover
		background #fff
		color $bluecolor



/* ---------- Осн. инфо -------------*/




section:nth-child(4)
	background-image url(img/lines.svg)
	background-size contain
	background-repeat no-repeat
	background-position 0px 400px
.categories__title
	font-family 'Bender'
	font-weight bold
	text-align center
.categories__title_blue
	color $bluecolor
.categories__text
	font-weight 300
	line-height 28px
	text-align center
.categories-list
	margin-top 60px
	margin-left -15px
	margin-right -15px
.categories-list__item
	overflow hidden
	padding 15px
	box-sizing border-box
.categories-list__img
	width 100%
	height auto
.categories-list-submit
	border 1px solid #c7c7c7
	height 180px
	box-sizing border-box
.categories-list-submit__text
	display block
	max-width 90%
	text-align center
	margin 0 auto
	margin-top 30px
.categories-list-submit__button
	width 200px
	background $bluecolor
	font-family 'Exo 2'
	font-weight 500
	border none
	color #fff
	text-transform uppercase
	padding 10px 20px 10px 20px
	font-size 13px
	box-sizing border-box
	border-radius 3px
	cursor pointer
	margin 0 auto
	display block
	margin-top 20px
	transition-duration .3s
	&:hover
		background #4892C3
	&:active
		background #50647F




/* -------- Cравнение затрат ----------*/




section:nth-child(5)
	background-image url(icons/dots.png)
.compare__title
	font-family 'Bender'
	font-weight bold
	text-transform uppercase
	letter-spacing 6px
	text-align center
.compare__title:before
	position absolute
	content ""
	width 28%
	border-top 1px solid #ccc
	top 70px;
	display block
.compare__title:after
	position absolute
	content ""
	width 28%
	right 30px
	border-top 1px solid #ccc
	top 70px;
	display block
.compare__text
	font-weight 300
	line-height 28px
	max-width 50%
	margin 0 auto
	text-align center
.compare-item
	border-right 1px dashed #ccc
	&:last-child
		border none
.compare-item__title
	margin-top 30px
	font-family 'Bender'
	font-size 20px
	letter-spacing 2px
	font-weight bold
	text-transform uppercase
	color $bluecolor
.compare-item__list
	display block
.compare-item__list:before
	content ""
	display inline-block
	width 5px
	height 5px
	vertical-align middle
	background #000
	margin-right 10px
	margin-top -3px
	transform: rotate(45deg);
.compare-item__list:nth-child(1):before
	background #329bd3
.compare-item__list:nth-child(2):before
	background #ebb200
.compare-item__list:nth-child(3):before
	background #d55489
.compare-item__list:nth-child(4):before
	background #a299df
.compare-item__list:nth-child(5):before
	background #32d5cb

.compare-item__result
	font-weight 300
	text-align center
	display inline-block
	width 80%
	clear both
	margin 0 auto
	margin-top 30px
.compare-item__price
	font-size 27px
	padding-bottom 60px
	color #a2a2a2
	text-align center
	font-family 'Exo 2'
	font-weight 300
	margin-top 30px
	width 80%




/* -------- Специалисты ----------*/




section:nth-child(6)
	background-image url(icons/dots_dark.png)
.specialists__title
	font-family 'Bender'
	font-size 27px
	color #fff
	text-transform uppercase
	letter-spacing 6px
	text-align center
.specialists__title:before
	position absolute
	content ""
	width 28%
	border-top 1px solid rgba(255,255,255,0.4)
	top 70px;
	display block
.specialists__title:after
	position absolute
	content ""
	width 28%
	right 30px
	border-top 1px solid rgba(255,255,255,0.4)
	top 70px;
	display block
.specialists-all
	display block
	width 15%
	margin 0 auto
	margin-top 15px
	text-align center
.specialists-all:before
	content ""
	width 10px
	height 10px
	position absolute
	background url(icons/cross.png)
	display inline-block
	background-repeat no-repeat
	margin-left -17px
	margin-top 8px
.specialists-all:after
	content ""
	width 10px
	height 10px
	position absolute
	background url(icons/cross.png)
	display inline-block
	background-repeat no-repeat
	margin-left 7px
	margin-top 8px
.specialists-all__link
	font-family 'Bender'
	color #8ba0be
	font-size 12px
	letter-spacing 2px
	text-transform uppercase
	text-align center
	&:hover
		color #fff
		border-bottom 1px solid rgba(255,255,255,0.5)
.specialists-list
	margin-top 40px
	margin-bottom 40px
.specialists-list__item
	border-right 1px dashed rgba(255,255,255,0.3)
	&:last-child
		border none
.specialists-photo
	width 170px
	height 170px
	margin 0 auto
	border-radius 170px
	overflow hidden
.specialists-photo__img
	height 100%
.specialists-list__name
	margin-top 25px
	color #fff
.specialists-list__info
	margin-top 15px
	font-weight 300
	color #a0abba
.specialists-list__submit
	width 200px
	background $bluecolor
	font-family 'Exo 2'
	font-weight 500
	border none
	color #fff
	text-transform uppercase
	padding 10px 20px 10px 20px
	font-size 13px
	box-sizing border-box
	border-radius 3px
	cursor pointer
	margin 0 auto
	bottom 0
	display block
	margin-top 20px
	transition-duration .3s
	&:hover
		background #4892C3
	&:active
		background #50647F




/* ------------ Причины --------------*/




section:nth-child(7)
	background-image url(img/lines.svg)
	background-repeat no-repeat
	background-position 0 -300px
.reasons__title
	font-family 'Bender'
	font-weight bold
	font-size 27px
	color #000
	text-transform uppercase
	letter-spacing 6px
	text-align center
.reasons__title:before
	position absolute
	content ""
	width 21%
	border-top 1px solid rgba(0,0,0,0.4)
	top 71px;
	display block
.reasons__title:after
	position absolute
	content ""
	width 21%
	right 30px
	border-top 1px solid rgba(0,0,0,0.4)
	top 71px;
	display block
.reasons__title_blue
	color $bluecolor
.reasons-list__icon_one
	width 60px
	height 60px
	position relative
	background url(icons/reason1.svg)
	background-repeat no-repeat
	float left
	margin-right 20px
.reasons-list__icon_two
	width 60px
	height 60px
	position relative
	background-image url(icons/reason2.svg)
	background-repeat no-repeat
	float left
	margin-right 20px
.reasons-list__icon_three
	width 60px
	height 80px
	position relative
	background url(icons/reason3.svg)
	background-repeat no-repeat
	float left
	margin-right 20px
.reasons-list__icon_four
	width 60px
	height 60px
	position relative
	background url(icons/reason4.svg)
	background-repeat no-repeat
	float left
	margin-right 20px
.reasons-list__title
	color $bluecolor
	font-size 18px
	line-height 27px
.reasons-list__text
	font-weight 300
	font-family ubuntu




/* ------------- Отзывы --------------*/




section:nth-child(8)
	background-image url(icons/dots.png)
.feedback__title
	font-family 'Bender'
	font-weight bold
	font-size 27px
	color #000
	text-transform uppercase
	letter-spacing 6px
	text-align center
.feedback__title:before
	position absolute
	content ""
	width 27%
	border-top 1px solid rgba(0,0,0,0.2)
	top 71px;
	display block
.feedback__title:after
	position absolute
	content ""
	width 27%
	right 30px
	border-top 1px solid rgba(0,0,0,0.2)
	top 71px;
	display block
.feedback-all
	display block
	width 15%
	margin 0 auto
	margin-top 15px
	text-align center
.feedback-all:before
	content ""
	width 10px
	height 10px
	position absolute
	background url(icons/cross.png)
	display inline-block
	background-repeat no-repeat
	margin-left -17px
	margin-top 8px
.feedback-all:after
	content ""
	width 10px
	height 10px
	position absolute
	background url(icons/cross.png)
	display inline-block
	background-repeat no-repeat
	margin-left 7px
	margin-top 8px
.feedback-all__link
	font-family 'Bender'
	color #8ba0be
	font-size 12px
	letter-spacing 2px
	text-transform uppercase
	text-align center
.fakebackground:before
	content ""
	position absolute
	top:0
	height 100%
	background #e2ebf2
	width 50%
	left 0
	right 0
	margin auto
	z-index -1
	-moz-transform: skewX(-15deg);
	-webkit-transform: skewX(-15deg);
	-o-transform: skewX(-15deg);
	-ms-transform: skewX(-15deg);
	transform: skewX(-15deg);
.feedback-list__item
	background #fff
	box-shadow 0px 2px 13px 0px rgba(0, 0, 0, 0.07)
.feedback-list__photo
	width 135px
	height 135px
	border-radius 135px
	overflow hidden
	float left
	margin-right 30px
	position relative
.feedback-list__photo_noradius
	border-radius 0
.feedback-list__img
	height 100%
.feedback-list__name
	font-size 16px
	color $bluecolor
.feedback-list__info
	font-size 13px
	color #666
.feedback-list__text
	font-size 15px
	margin-top 10px
	font-style italic
	font-weight 300
	line-height 23px
	color #666
	height 92px
	overflow hidden
	text-overflow ellipsis
.feedback-list__more
	border 1px solid #ccc
	padding 3px 13px 3px 13px
	display inline-block
	margin-left 165px
	margin-top 15px
	cursor pointer
	&:hover
		background $bluecolor
		border-color $bluecolor
		.feedback-list__link
			color #fff
.feedback-list__link
	text-transform uppercase
	color #8c8c8c
	font-weight 200
	font-size 11px



/* ------------- Новости --------------*/



.news__title
	font-family 'Bender'
	font-weight bold
	font-size 27px
	color #000
	text-transform uppercase
	letter-spacing 6px
	text-align center
.news__title:before
	position absolute
	content ""
	width 32%
	border-top 1px solid rgba(0,0,0,0.15)
	top 71px;
	display block
.news__title:after
	position absolute
	content ""
	width 32%
	right 30px
	border-top 1px solid rgba(0,0,0,0.15)
	top 71px;
	display block
.news-all
	display block
	width 15%
	margin 0 auto
	margin-top 15px
	text-align center
.news-all:before
	content ""
	width 10px
	height 10px
	position absolute
	background url(icons/cross.png)
	display inline-block
	background-repeat no-repeat
	margin-left -17px
	margin-top 8px
.news-all:after
	content ""
	width 10px
	height 10px
	position absolute
	background url(icons/cross.png)
	display inline-block
	background-repeat no-repeat
	margin-left 7px
	margin-top 8px
.news-all__link
	font-family 'Bender'
	color #8ba0be
	font-size 12px
	letter-spacing 2px
	text-transform uppercase
	text-align center
.news-list__day
	display inline-block
	font-family 'Exo 2'
	background $bluecolor
	padding 6px 10px 6px 10px
	color #fff
	margin-right 10px
.news-list__month
	display inline-block
	font-family 'Exo 2'
	font-weight 300
	text-transform uppercase
	letter-spacing 1px
	font-size 12px
	color #999999
.news-list__content
	display block
	padding-left 32px
	border-left 1px solid #ccc
	margin-left 18px
.news-list__link
	color $bluecolor
.news-list__text
	font-weight 300
.news-list__year
	color #999999
	font-family 'Exo 2'
	font-weight 300
	letter-spacing 1px
	margin-left 5px
	font-size 12px
	font-weight 300
	margin-top 5px



/* ------------ СЕО-текст -------------*/




section:nth-child(10)
	background-image url(img/seobackground.png)/*base64:skip*/
	background-size cover
	background-position center center
	background-repeat no-repeat
.seotext__title
	font-family 'Bender'
	font-weight bold
	font-size 30px
	margin-top 40px
	color #fff
	text-align center
.seotext__title:after
	content ""
	width 100px
	border-top:2px solid #fff
	margin 0 auto
	display block
	margin-top 40px
	margin-bottom 40px
.seotext__text
	line-height 28px
	color #fff
	font-weight 300




/* --------- Меню в подвале -----------*/

section:nth-child(11):before
	content ""
	background-image url(img/lines.svg)
	display block
	position absolute
	background-repeat no-repeat
	width 100%
	height 200px
	background-size cover
	z-index -1
	background-position 0 -140px
.footer-menu__item
	transition-duration 0.4s
.footer-menu__link
	text-transform uppercase
	font-family 'Exo 2'
	font-weight 600
	font-size 16px
.footer-menu__link_hide
	text-transform uppercase
	font-family 'Exo 2'
	font-weight 600
	font-size 16px



/* --------- Подвал -----------*/


section:nth-child(12)
	background url(icons/dots.png)
	margin-top -30px
.footer-info__copyright
	font-weight 300
	font-size 15px
	line-height 23px
.footer-contacts__phone
	color #fff
	font-size 21px
.footer-contacts__mail
	color #a6d3f1
	font-weight 300
.footer-contacts__adress
	color #fff
.footer-contacts__link
	color #a6d3f1
	font-weight 300
	&:hover
		color #fff
		border-bottom 1px solid rgba(255,255,255,0.5)
.footer-contacts__social
	width 40px
	height 40px
	background url(icons/vk.png)
.footer-dev__devlogo
	background url(img/devlogo.png)
	background-repeat no-repeat
.footer-dev__devlink
	font-size 13px
	line-height 17px
	font-weight 300
.footer-dev__link_dev
	color $bluecolor
	font-weight 400







