html
	head
		title
		link(href="style/css/style.css",rel="stylesheet")
	body
		.header
			.header__logo
				.logo
					a(href="").logo__link
						img(src="").logo__img
			.header__description
				span.header__description_colored Профессиональные бизнес-услуги
				| для предприятий и частных лиц в Орле
			.header__contacts
				img(src=).header__phoneicon


