doctype html5
html
	head
		title
		meta(charset="utf-8")
		meta(name="description",content="")
		meta(name="keywords",content="")
		meta(http-equiv="content-language", content="ru")
		meta(width="device-width", initial-scale="1")
		link(href="styles/default/css/style.css",rel="stylesheet")
	body
		// Шапка
		section
			.global-layout
				.header.clearfix
					.header-logo
						a(href="/").header-logo__link
							img(src="styles/default/css/img/logo.svg", title="Логотип", alt="Логотип").header-logo__img
					.header-description
						h1.header-description__text
							span.header-description__text_blue Профессиональные бизнес-услуги&ensp;
							|для&nbsp;предприятий и&nbsp;частных лиц в&nbsp;Орле
					.header-contacts
						.header-contacts__icon
						.header-contacts__text Бесплатная консультация по&nbsp;телефону
						.header-contacts__phone
							span.header-contacts__phone_gray + 7 4862&ensp;
							| 40-30-20
					.header-submit
						button.header-submit__button Проконсультироваться
		// Меню
		section
			.global-layout
				.menu.clearfix
						ul
							li.menu__item
								a(href="#").menu__link Бухгалтерские услуги
								ul.submenu
									li.submenu__item
										a(href="#").submenu__link Составление отчетности
									li.submenu__item
										a(href="#").submenu__link Выбор системы налогообложения
									li.submenu__item
										a(href="#").submenu__link Приходящий бухгалтер
							li.menu__item
								a(href="#").menu__link Юридические услуги
							li.menu__item
								a(href="#").menu__link.link_hide Печати и штампы
							li.menu__item
								a(href="#").menu__link Бизнес услуги
							li.menu__item
								a(href="#").menu__link О компании
							li.menu__item
								a(href="#").menu__link Акции
							li.menu__item
								a(href="#").menu__link Контакты
		// Слайдер
		section
			.global-layout
				.slider
					.slider__item
						.slider__splash
						.slider__description_left
							.slider__text Специальная акция
							.slider__subtext до 31 декабря 2016 года
						.slider__description
							.slider__text Приходящий бухгалтер
							.slider__subtext за 500 рублей в месяц
							a(href="").slider__more Подробнее
						img(src="uploads/img/slide3.png").slider__img
					.slider__item
						img(src="uploads/img/slide3.png").slider__img
					.slider__item
						img(src="uploads/img/slide3.png").slider__img
		// Главная информация и разделы
		section
			.global-layout
				.categories
					h2.categories__title
						span.categories__title_blue Компания Вектор
						=' '
						|&mdash; комплексное сопровождение бизнеса
					.categories__text.
						Компания «Вектор» предоставляет весь спектр бухгалтерских и юридических услуг.<br>
						Наша цель — обеспечить комфортные условия для старта и развития Вашего бизнеса,<br>
						достичь максимальных количественных и качественных показателей.
					.categories-list.clearfix
						.categories-list__item
							.categories-list__thumbnail
								a(href="")
									img(src="uploads/img/info1.png" alt="" title="").categories-list__img
							.categories-list__title
								h3.categories-list__title
									a(href="#").categories-list__link Бухгалтерское сопровождение
						.categories-list__item
							.categories-list__thumbnail
								a(href="")
									img(src="uploads/img/info2.png" alt="" title="").categories-list__img
							.categories-list__title
								h3.categories-list__title
									a(href="#").categories-list__link Регистрация ООО / ИП
						.categories-list__item
							.categories-list__thumbnail
								a(href="")
									img(src="uploads/img/info3.png" alt="" title="").categories-list__img
							.categories-list__title
								h3.categories-list__title
									a(href="#").categories-list__link Изготоволение печатей и&nbsp;штампов
						.categories-list__item
							.categories-list__thumbnail
								a(href="")
									img(src="uploads/img/info4.png" alt="" title="").categories-list__img
							.categories-list__title
								h3.categories-list__title
									a(href="#").categories-list__link Алкогольная декларация
						.categories-list__item
							.categories-list__thumbnail
								a(href="")
									img(src="uploads/img/info5.png" alt="" title="").categories-list__img
							.categories-list__title
								h3.categories-list__title
									a(href="#").categories-list__link Ликвидация юридического лица
						.categories-list__item
							.categories-list__thumbnail
								a(href="")
									img(src="uploads/img/info6.png" alt="" title="").categories-list__img
							.categories-list__title
								h3.categories-list__title
									a(href="#").categories-list__link Консультация по выбору системы налогообложения
						.categories-list__item
							.categories-list__thumbnail
								a(href="")
									img(src="uploads/img/info7.png" alt="" title="").categories-list__img
							.categories-list__title
								h3.categories-list__title
									a(href="#").categories-list__link Внесение изменений в&nbsp;учредительные документы
						.categories-list__item
							.categories-list__thumbnail
								a(href="")
									img(src="uploads/img/info8.png" alt="" title="").categories-list__img
							.categories-list__title
								h3.categories-list__title
									a(href="#").categories-list__link Составление и сдача отчетности в налоговую и фонды
						.categories-list__item
							.categories-list__thumbnail
								a(href="")
									img(src="uploads/img/info9.png" alt="" title="").categories-list__img
							.categories-list__title
								h3.categories-list__title
									a(href="#").categories-list__link Создание сайтов
						.categories-list__item
							.categories-list__thumbnail
								a(href="")
									img(src="uploads/img/info10.png" alt="" title="").categories-list__img
							.categories-list__title
								h3.categories-list__title
									a(href="#").categories-list__link Брендинг
						.categories-list__item
							.categories-list__thumbnail
								a(href="")
									img(src="uploads/img/info11.png" alt="" title="").categories-list__img
							.categories-list__title
								h3.categories-list__title
									a(href="#").categories-list__link Составление бизнес-планов
						.categories-list__item
							.categories-list-submit
								.categories-list-submit__text Проконсультируйтесь по&nbsp;услугам подробнее
								button.categories-list-submit__button Проконсультироваться
		// Сравнение затрат
		section
			.global-layout.clearfix
				h2.compare__title Сравнение затрат
				.compare__text Предлагаем Вам сравнить стоимость содержания штатного бухгалтера и&nbsp;стоимость бухгалтерского сопровождения в нашей компании.
				.compare-item
					.compare-item__title Штатный бухгалтер
					img(src="uploads/img/graph1.png" alt="" title="").compare-item__graph
					.compare-item__description
						ul
							li.compare-item__list Заработная плата
							li.compare-item__list Отчисления в фонды
							li.compare-item__list Правовые программы
							li.compare-item__list Обслуживание 1С
							li.compare-item__list Канцтовары
					.compare-item__result Итого, ежемесячные затраты на содержание штатного <b>бухгалтера обойдутся вам в 23 000 руб</b>.
					.compare-item__price -23 000 руб.
				.compare-item
					.compare-item__title Штатный бухгалтер
					img(src="uploads/img/graph2.png" alt="" title="").compare-item__graph
					.compare-item__description
						ul
							li.compare-item__list Ведение бухгалтерского учета
							li.compare-item__list Кадровый учет и расчет заработной платы
							li.compare-item__list Ваша экономия
					.compare-item__result Итого, использование бухгалтерского аутсорсинга <b>сэкономит вам 15 600 руб</b>.
					.compare-item__price + 15 600 руб.
		// Специалисты
		section
			.global-layout
				h2.specialists__title Наши специалисты
				.specialists-all
					a(href="#").specialists-all__link Все специалисты
				.specialists-list.clearfix
					.specialists-list__item
						.specialists-photo
							img(src="uploads/img/spec1.png" alt="" title="").specialists-photo__img
						.specialists-list__name Мария Петрововна Скрябина
						.specialists-list__info Главный специалист отдела бухгалтерского сопровождения
						button.specialists-list__submit Проконсультироваться
					.specialists-list__item
						.specialists-photo
							img(src="uploads/img/spec2.png" alt="" title="").specialists-photo__img
						.specialists-list__name Илья Васильевич Ноздрин
						.specialists-list__info Юридическое сопровождение<br>компаний
						button.specialists-list__submit Проконсультироваться
					.specialists-list__item
						.specialists-photo
							img(src="uploads/img/spec3.png" alt="" title="").specialists-photo__img
						.specialists-list__name Павел Семенович Васильев
						.specialists-list__info Изготовление печатей <br> и&nbsp;штампов
						button.specialists-list__submit Проконсультироваться
		// Причины позвонить нам
		section
			.global-layout
				.reasons
					h2.reasons__title 4 причины
						=" "
						span.reasons__title_blue позвонить нам
					.reasons-list.clearfix
						.reasons-list__item
							.reasons-list__icon_one
							.reasons-list__title Ответственность за Вашу бухгалтерию теперь на нас!
							.reasons-list__text Согласно договору мы гарантируем компенсацию всех штрафов и пени со стороны ИФНС, если они произошли по нашей вине. Согласно договору мы гарантируем компенсацию всех штрафов и пени со стороны ИФНС, если они произошли по нашей вине.
						.reasons-list__item
							.reasons-list__icon_two
							.reasons-list__title Ответственность за Вашу бухгалтерию теперь на нас!
							.reasons-list__text Согласно договору мы гарантируем компенсацию всех штрафов и пени со стороны ИФНС, если они произошли по нашей вине. Мы работаем по договору, поэтому мы несем ответственность в соответствии с гражданским кодексом, а не трудовым.
						.reasons-list__item
							.reasons-list__icon_three
							.reasons-list__title Ответственность за Вашу бухгалтерию теперь на нас!
							.reasons-list__text Согласно договору мы гарантируем компенсацию всех штрафов и пени со стороны ИФНС, если они произошли по нашей вине. Мы работаем по договору, поэтому мы несем ответственность в соответствии с гражданским кодексом, а не трудовым.
						.reasons-list__item
							.reasons-list__icon_four
							.reasons-list__title Ответственность за Вашу бухгалтерию теперь на нас!
							.reasons-list__text Согласно договору мы гарантируем компенсацию всех штрафов и пени со стороны ИФНС, если они произошли по нашей вине. Мы работаем по договору, поэтому мы несем ответственность в соответствии с гражданским кодексом, а не трудовым.
		// Отзывы
		section
			.global-layout.fakebackground
				.feedback
					h2.feedback__title Отзывы клиентов
					.feedback-all
						a(href="#").feedback-all__link Все отзывы
					.feedback-list.clearfix
						.feedback-list__item
							.feedback-list__photo
								img(src="uploads/img/feedback1.png" alt="" title="").feedback-list__img
							.feedback-list__name Роберт Мясников
							.feedback-list__info Орловские молочные фермы
							.feedback-list__text Огромное спасибо компании «Вектор» за столь быстрое реагирование на наши запросы. Довольны бухгалтерским сопровождением от наших партнеров. компании «Вектор» за столь быстрое реагирование на наши запросы. Довольны бухгалтерским сопровождением от наших партнеров.
							.feedback-list__more
								a(href="").feedback-list__link Читать полностью
						.feedback-list__item
							.feedback-list__photo
								img(src="uploads/img/feedback2.png" alt="" title="").feedback-list__img
							.feedback-list__name Эльвира Александровна
							.feedback-list__info Индивидуальный предприниматель
							.feedback-list__text Ребята очень быстро помогли мне в регистрации своего дела! Очень долго это было просто моим увлечением и вот теперь стало полноценной работой! Спасибо Вектору за это!
							.feedback-list__more
								a(href="").feedback-list__link Читать полностью
		// Новости
		section
			.global-layout
				.news
					h2.news__title Новости
					.news-all
						a(href="#").news-all__link Все новости
					.news-list.clearfix
						.news-list__item
							.news-list__day 02
							.news-list__month Сентября
							.news-list__content
								a(href="").news-list__link Новые правила госрегистрации организаций и ИП
								.news-list__text ФНС подготовила второй в этом году обзор судебной практики по вопросам госрегистрации организаций и ИП
							.news-list__year 2016
						.news-list__item
							.news-list__day 02
							.news-list__month Сентября
							.news-list__content
								a(href="").news-list__link Новые правила госрегистрации организаций и ИП
								.news-list__text Опубликован проект поправок согласно, которому статья 164 НК дополнят новым пунктом
							.news-list__year 2016
						.news-list__item
							.news-list__day 15
							.news-list__month Августа
							.news-list__content
								a(href="").news-list__link Экспортерам разрешат применять ставки НДС вместо нулевой
								.news-list__text Одним из возможных механизмов является установление налога для напитков, содержащих более пяти грамм сахара на 100 мл
							.news-list__year 2016
		// СЕО-текст
		section
			.global-layout
				.seotext
					h2.seotext__title Копмлексное обслуживание ООО и ИП
					.seotext__text Комплексное обслуживание ООО и ИП в Орле — одна из наших основных специализаций. Опыт, знания, выработанныегодами методы решения задач и специалисты высшего уровня – залог успешной работы вашей будущей компании. Собираетесь ли вы зарегистрировать ООО или ИП или уже являетесь владельцев своего собственного бизнеса вы получаете высококлассное обслуживание за доступные средства. А заключая договор на бухгалтерские обслуживание с нашей компанией вы будете экономить средства на зарплату штатного сотрудника, организации его рабочего места, социальных выплатах, отпусках, больничных. В своей работе по оказанию бухгалтерских и юридических услуг для бизнеса мы ориентируемся на комплексный подход к выполнению задач плодотворное сотрудничество с представителями различных компаний, сфер и структур.
		// Меню футер
		section
			.global-layout
				.footer-menu.clearfix
					ul
						li.footer-menu__item
							a(href="#").footer-menu__link Бухгалтерские услуги
						li.footer-menu__item
							a(href="#").footer-menu__link Юридические услуги
						li.footer-menu__item
							a(href="#").footer-menu__link.link_hide Печати и штампы
						li.footer-menu__item
							a(href="#").footer-menu__link Бизнес услуги
						li.footer-menu__item
							a(href="#").footer-menu__link О компании
						li.footer-menu__item
							a(href="#").footer-menu__link Акции
						li.footer-menu__item
							a(href="#").footer-menu__link Контакты
		// Футер
		section
			.global-layout
				.footer-info.clearfix
					.footer-info__copyright © 2016, Компания «Вектор». Все&nbsp;права защищены.
					.footer-contacts
						.footer-contacts__item
							.footer-contacts__phone (4862) 40-30-20
							a(href="mailto:mail@vector57.ru").footer-contacts__link mail@vector57.ru
						.footer-contacts__item
							.footer-contacts__adress Орел, ул. Комсомольская, 66, каб. 345 (3 этаж)
							a(href="").footer-contacts__link Схема проезда
						.footer-contacts__item
							.footer-contacts__social
					.footer-dev
						.footer-dev__devlogo
						.footer-dev__devlink Создание сайта:<br>
							a(href="").footer-dev__link_dev «ОрелСайтСтрой»


		script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js")
		script(src="styles/default/js-libs/owl-carousel/owl.carousel.js")
		script(src="styles/default/js/main.js")







