doctype html5
html
	head
		title
		meta(charset="utf-8")
		meta(name="description",content="")
		meta(name="keywords",content="")
		meta(http-equiv="content-language", content="ru")
		meta(width="device-width", initial-scale="1")
		link(href="styles/default/css/style.css",rel="stylesheet")
	body
		// Шапка
		section.section-header
			.global-layout
				.header.clearfix
					.header-logo
						a(href="/").header-logo__link
							img(src="styles/default/css/img/logo.svg", title="Логотип", alt="Логотип").header-logo__img
					.header-description
						h1.header-description__text
							span.header-description__text_blue Профессиональные бизнес-услуги&ensp;
							|для&nbsp;предприятий и&nbsp;частных лиц в&nbsp;Орле
					.header-contacts
						.header-contacts__icon
						.header-contacts__text Бесплатная консультация по&nbsp;телефону
						.header-contacts__phone
							span.header-contacts__phone_gray + 7 4862&ensp;
							| 40-30-20
					.header-submit
						button.header-submit__button Проконсультироваться
		// Меню
		section.section-menu
			.global-layout
				.menu.clearfix
						ul
							li.menu__item
								a(href="#").menu__link Бухгалтерские услуги
								ul.submenu
									li.submenu__item
										a(href="#").submenu__link Составление отчетности
									li.submenu__item
										a(href="#").submenu__link Выбор системы налогообложения
									li.submenu__item
										a(href="#").submenu__link Приходящий бухгалтер
							li.menu__item
								a(href="#").menu__link Юридические услуги
							li.menu__item
								a(href="master/stamp.html").menu__link.link_hide Печати и штампы
							li.menu__item
								a(href="#").menu__link Бизнес услуги
							li.menu__item
								a(href="#").menu__link О компании
							li.menu__item
								a(href="#").menu__link Акции
							li.menu__item
								a(href="#").menu__link Контакты
		// Контент страницы
		section.section-page
			.global-layout.clearfix
				h2.page__title Изготовление печатей и штампов
				.page-content
					.page-content-tabs
						ul
							li.page-content-tabs__item
								a(href="").page-content-tabs__link.active Печать ИП
							li.page-content-tabs__item
								a(href="").page-content-tabs__link Печать врача
							li.page-content-tabs__item
								a(href="stamp.html").page-content-tabs__link Печать юр.лица
							li.page-content-tabs__item
								a(href="").page-content-tabs__link Штамп треугольный
							li.page-content-tabs__item
								a(href="").page-content-tabs__link Факсимиле
					.user-content
						h3 Вам потребуется
						ul.dash_blue
							li свидетельство о внесении в ЕГРИП – оригинал или нотариально заверенная копия;
							li свидетельство о постановке на учет в налоговом органе (документ о присвоении ИНН) — оригинал или нотариально заверенная копия;
							li паспорт (при получении).
						quote Документы не требуются при заказе печатей и штампов, не содержащих фамилии ИП, например: копия верна, здоров и т.п.
						h3 Виды оснастки
						.gallery.clearfix
							img(src="uploads/img/stamp1.png" alt="" title="")
							img(src="uploads/img/stamp2.png" alt="" title="")
							img(src="uploads/img/stamp3.png" alt="" title="")
							img(src="uploads/img/stamp2.png" alt="" title="")
							img(src="uploads/img/stamp3.png" alt="" title="")
							img(src="uploads/img/stamp1.png" alt="" title="")
							img(src="uploads/img/stamp3.png" alt="" title="")
							img(src="uploads/img/stamp1.png" alt="" title="")
							img(src="uploads/img/stamp2.png" alt="" title="")
						h2 Изготовление печатей и штампов
						| Каждый день в Орле появляются новые организации и индивидуальные предпрениматели и именно для них мы работаем: помогаем подготавливать документы и регистрировать их деятельность в контролирующих органах. Центр комплексного сопровождения бизнеса «Вектор» предлагает своим клиентам целую программу профессиональных юридических услуг. Мы располагаем штатом специалистов с большим опытом работы, которые предложат вам наилучшее решение вашего вопроса в каждой конкретной ситуации. Обращайтесь к нам и получите качественное юридическое сопровождение.
						h3 Изготовление печатей и штампов
						| Регистрация ООО в Орле — достаточно востребованная услуга на рынке. Данную процедуру совершенно точно необходимо доверять профессионалам – ведь, в случае ошибки в документах, уплаченная при их подаче в налоговую пошлина возвращена не будет. Специалисты компании «Вектор» владеют огромным опытом сбора документов для государственной регистрации оргганизиций. Мы пробуем учитывать многие нюансы и выполняем свою работу качественно и в сжатые сроки.
					form(action="/").free-consultation-form
						.free-consultation-form__title Получите бесплатную консультацию
						.free-consultation-form__text Оставьте свой номер телефона и получите бесплатную консультацию
						input(type="text" placeholder="Телефон в любом формате").free-consultation-form__input
						button(type="submit").free-consultation-form__submit Оставить заявку
				.page-sidebar
					.page-sidebar-price
						.page-sidebar-price__title Стоимость изготовления от
						.page-sidebar-price__price 100<span>a</span>
					.page-sidebar-banner
						img(src="uploads/img/banner2.png" alt="" title="").page-sidebar-banner__img
						.page-sidebar-banner__top
							h2 Специальная акция
							| до 31 декабря 2016 года
						.page-sidebar-banner__bottom
							h2 Приходящий бухгалтер
							| за 500 рублей в месяц
					.page-sidebar-garant
						h3.page-sidebar-garant__title Время - деньги!
						.page-sidebar-garant__day
							.day-value 60 <span>минут</span>
						| Изготовление штампа



		// Вам может пригодиться
		section.section-categories
			.global-layout
				.categories
					h2.categories__title.categories__title_blue Вам может пригодиться
					.categories-list.clearfix
						.categories-list__item
							.categories-list__thumbnail
								a(href="")
									img(src="uploads/img/info11.png" alt="" title="").categories-list__img
							.categories-list__title
								h3.categories-list__title
									a(href="#").categories-list__link Составление бизнес-планов
						.categories-list__item
							.categories-list__thumbnail
								a(href="")
									img(src="uploads/img/info8.png" alt="" title="").categories-list__img
							.categories-list__title
								h3.categories-list__title
									a(href="#").categories-list__link Составление и сдача отчетности в налоговую и фонды
						.categories-list__item
							.categories-list__thumbnail
								a(href="")
									img(src="uploads/img/info3.png" alt="" title="").categories-list__img
							.categories-list__title
								h3.categories-list__title
									a(href="#").categories-list__link Изготоволение печатей и&nbsp;штампов
						.categories-list__item
							.categories-list__thumbnail
								a(href="")
									img(src="uploads/img/info1.png" alt="" title="").categories-list__img
							.categories-list__title
								h3.categories-list__title
									a(href="#").categories-list__link Бухгалтерское сопровождение
		// Отзывы
		section.section-feedback
			.global-layout.fakebackground
				.feedback
					h2.feedback__title Отзывы клиентов
					.feedback-all
						a(href="#").feedback-all__link Все отзывы
					.feedback-list.clearfix
						.feedback-list__item
							.feedback-list__photo
								img(src="uploads/img/feedback1.png" alt="" title="").feedback-list__img
							.feedback-list__name Роберт Мясников
							.feedback-list__info Орловские молочные фермы
							.feedback-list__text Огромное спасибо компании «Вектор» за столь быстрое реагирование на наши запросы. Довольны бухгалтерским сопровождением от наших партнеров. компании «Вектор» за столь быстрое реагирование на наши запросы. Довольны бухгалтерским сопровождением от наших партнеров.
							.feedback-list__more
								a(href="").feedback-list__link Читать полностью
						.feedback-list__item
							.feedback-list__photo
								img(src="uploads/img/feedback2.png" alt="" title="").feedback-list__img
							.feedback-list__name Эльвира Александровна
							.feedback-list__info Индивидуальный предприниматель
							.feedback-list__text Ребята очень быстро помогли мне в регистрации своего дела! Очень долго это было просто моим увлечением и вот теперь стало полноценной работой! Спасибо Вектору за это!
							.feedback-list__more
								a(href="").feedback-list__link Читать полностью
		// СЕО-текст
		section.section-seotext
			.global-layout
				.seotext
					h2.seotext__title Копмлексное обслуживание ООО и ИП
					.seotext__text Комплексное обслуживание ООО и ИП в Орле — одна из наших основных специализаций. Опыт, знания, выработанныегодами методы решения задач и специалисты высшего уровня – залог успешной работы вашей будущей компании. Собираетесь ли вы зарегистрировать ООО или ИП или уже являетесь владельцев своего собственного бизнеса вы получаете высококлассное обслуживание за доступные средства. А заключая договор на бухгалтерские обслуживание с нашей компанией вы будете экономить средства на зарплату штатного сотрудника, организации его рабочего места, социальных выплатах, отпусках, больничных. В своей работе по оказанию бухгалтерских и юридических услуг для бизнеса мы ориентируемся на комплексный подход к выполнению задач плодотворное сотрудничество с представителями различных компаний, сфер и структур.
		// Меню футер
		section.section-footer-menu
			.global-layout
				.footer-menu.clearfix
					ul
						li.footer-menu__item
							a(href="#").footer-menu__link Бухгалтерские услуги
						li.footer-menu__item
							a(href="#").footer-menu__link Юридические услуги
						li.footer-menu__item
							a(href="#").footer-menu__link.link_hide Печати и штампы
						li.footer-menu__item
							a(href="#").footer-menu__link Бизнес услуги
						li.footer-menu__item
							a(href="#").footer-menu__link О компании
						li.footer-menu__item
							a(href="#").footer-menu__link Акции
						li.footer-menu__item
							a(href="#").footer-menu__link Контакты
		// Футер
		section.section-footer-info
			.global-layout
				.footer-info.clearfix
					.footer-info__copyright © 2016, Компания «Вектор». Все&nbsp;права защищены.
					.footer-contacts
						.footer-contacts__item
							.footer-contacts__phone (4862) 40-30-20
							a(href="mailto:mail@vector57.ru").footer-contacts__link mail@vector57.ru
						.footer-contacts__item
							.footer-contacts__adress Орел, ул. Комсомольская, 66, каб. 345 (3 этаж)
							a(href="").footer-contacts__link Схема проезда
						.footer-contacts__item
							.footer-contacts__social
					.footer-dev
						.footer-dev__logo
						.footer-dev__info Создание сайта:<br>
							a(href="").footer-dev__link «ОрелСайтСтрой»


		script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js")
		script(src="styles/default/js-libs/owl-carousel/owl.carousel.js")
		script(src="styles/default/js/main.js")







