doctype html5
html
	head
		title
		meta(charset="utf-8")
		meta(name="description",content="")
		meta(name="keywords",content="")
		meta(http-equiv="content-language", content="ru")
		meta(width="device-width", initial-scale="1")
		link(href="styles/default/css/style.css",rel="stylesheet")
	body
		// Шапка
		section.section-header
			.global-layout
				.header.clearfix
					.header-logo
						a(href="/").header-logo__link
							img(src="styles/default/css/img/logo.svg", title="Логотип", alt="Логотип").header-logo__img
					.header-description
						h1.header-description__text
							span.header-description__text_blue Профессиональные бизнес-услуги&ensp;
							|для&nbsp;предприятий и&nbsp;частных лиц в&nbsp;Орле
					.header-contacts
						.header-contacts__icon
						.header-contacts__text Бесплатная консультация по&nbsp;телефону
						.header-contacts__phone
							span.header-contacts__phone_gray + 7 4862&ensp;
							| 40-30-20
					.header-submit
						button.header-submit__button Проконсультироваться
		// Меню
		section.section-menu
			.global-layout
				.menu.clearfix
						ul
							li.menu__item
								a(href="#").menu__link Бухгалтерские услуги
								ul.submenu
									li.submenu__item
										a(href="#").submenu__link Составление отчетности
									li.submenu__item
										a(href="#").submenu__link Выбор системы налогообложения
									li.submenu__item
										a(href="#").submenu__link Приходящий бухгалтер
							li.menu__item
								a(href="#").menu__link Юридические услуги
							li.menu__item
								a(href="#").menu__link.link_hide Печати и штампы
							li.menu__item
								a(href="#").menu__link Бизнес услуги
							li.menu__item
								a(href="#").menu__link О компании
							li.menu__item
								a(href="#").menu__link Акции
							li.menu__item
								a(href="#").menu__link Контакты
		section.section-page
			.global-layout.clearfix
				h2.page__title Регистрация ООО
				.page-content
					.user-content
						quote Документы не требуются при заказе печатей и штампов, не содержащих фамилии ИП, например: копия верна, здоров и т.п.
						quote.blue
							h3 Регистрация ООО «под ключ» включает в себя:
							ul.dash
								li консультации по вопросам создания и регистрации фирмы ООО
								li подбор юридического адреса для регистрации фирмы ООО
								li разработка комплектов документов для регистрации фирмы ООО
								li государственная регистрация фирмы
								li установка онлайн-бухглатерии и обучение основам интернет-банкинга
								li постановка фирмы на учет в фондах по городу Орлу
								li переход фирмы на упрощенную систему налогообложения
						| Каждый день в Орле появляются <a href="#">новые</a> организации и индивидуальные предпрениматели и именно для них мы работаем: помогаем подготавливать документы и регистрировать их деятельность в контролирующих органах.
						| <p>Центр комплексного сопровождения бизнеса «Вектор» предлагает своим клиентам целую программу профессиональных юридических услуг. Мы располагаем штатом специалистов с большим опытом работы, которые предложат вам наилучшее решение вашего вопроса в каждой конкретной ситуации. Обращайтесь к нам и получите качественное юридическое сопровождение.</p>
						| Каждый день в Орле появляются новые организации и индивидуальные предпрениматели и именно для них мы работаем: помогаем подготавливать документы и регистрировать их деятельность в контролирующих органах.
						img(src="https://static.pexels.com/photos/36487/above-adventure-aerial-air.jpg")
						| Каждый день в Орле появляются новые организации и индивидуальные предпрениматели и именно для них мы работаем: помогаем подготавливать документы и регистрировать их деятельность в контролирующих органах.
						quote.blue Каждый день в Орле появляются и индивидуальные предприниматели и именно для них мы работаем: помогаем подготавливать документы и регистрировать деятельность в контролирующих органах
						quote.gray Каждый день в Орле появляются и индивидуальные предприниматели и именно для них мы работаем: помогаем подготавливать документы и регистрировать деятельность в контролирующих органах
						quote.half
							h3 Мы поможем вам сделать
							ol
								li Решение (протокол) о создании ООО, АО
								li Договор об Учреждении ООО (если участников больше одного)
								li Устав
								li Заявление на регистрацию ООО
								li Заявление о переходе на УСН (если будет применяться данная система)
						quote.half.center
							img(src="styles/default/css/icons/also.png")
							h3 Что мы еще сделаем:
							ul
								li мы самостоятельно оплатим государственную пошлину.
								li сдадим документы в ИФНС на регистрацию и получим их после регистрации.
								li получим информационное письмо с кодами статистики.
						hr
						| Каждый день в Орле появляются новые организации и индивидуальные предпрениматели и именно для них мы работаем: помогаем подготавливать документы и регистрировать их деятельность в контролирующих органах. Центр комплексного сопровождения бизнеса «Вектор» предлагает своим клиентам целую программу профессиональных юридических услуг. Мы располагаем штатом специалистов с большим опытом работы, которые предложат вам наилучшее решение вашего вопроса в каждой конкретной ситуации. Обращайтесь к нам и получите качественное юридическое сопровождение.
						table
							tr
								th Величина
								th Значение параметра
								th Стоимость
							tr
								td Масса
								td Опубликован проект поправок согласно
								td 789
							tr
								td Объем
								td Опубликован проект поправок согласно
								td 1200
							tr
								td Плотность
								td Опубликован проект поправок согласно
								td 6000
							tr
								td Ширина
								td Опубликован проект поправок согласно
								td 1100
							tr
								td Высота
								td Опубликован проект поправок согласно
								td 500
							tr
								td Глубина
								td Опубликован проект поправок согласно
								td 789
						| Каждый день в Орле появляются новые организации и индивидуальные предпрениматели и именно для них мы работаем: помогаем подготавливать документы и регистрировать их деятельность в контролирующих органах.
						h3 Штатный бухгалтер
						|Центр комплексного сопровождения бизнеса «Вектор» предлагает своим клиентам целую программу профессиональных юридических услуг. Мы располагаем штатом специалистов с большим опытом работы, которые предложат вам наилучшее решение вашего вопроса в каждой конкретной ситуации. Обращайтесь к нам и получите качественное юридическое сопровождение.
						table.gray
							tr
								th Величина
								th Значение параметра
								th Стоимость
							tr
								td Масса
								td Опубликован проект поправок согласно
								td 789
							tr
								td Объем
								td Опубликован проект поправок согласно
								td 1200
							tr
								td Плотность
								td Опубликован проект поправок согласно
								td 6000
							tr
								td Ширина
								td Опубликован проект поправок согласно
								td 1100
							tr
								td Высота
								td Опубликован проект поправок согласно
								td 500
							tr
								td Глубина
								td Опубликован проект поправок согласно
								td 789
						h1 Наши специалисты
						h2 Штатный бухгалтер
						h3 Мы поможем вам сделать
						h4 Зарегистрируем вашу компанию за 7 дней
						h5 Составление бизнес-планов
						h6 Итого, ежемесячные затраты на содержание штатного

						a(href="#").save_icon Скачать файл<br>
						a(href="#").jpg_icon Скачать файл<br>
						a(href="#").pdf_icon Скачать файл<br>
						a(href="#").doc_icon Скачать файл<br>
						a(href="#").rtf_icon Скачать файл<br>
						a(href="#").zip_icon Скачать файл<br>
						a(href="#").xml_icon Скачать файл<br>

					form(action="/").free-consultation-form
						.free-consultation-form__title Получите бесплатную консультацию
						.free-consultation-form__text Оставьте свой номер телефона и получите бесплатную консультацию
						input(type="text" placeholder="Телефон в любом формате").free-consultation-form__input
						button(type="submit").free-consultation-form__submit Оставить заявку

				.page-sidebar
					.page-sidebar-price
						.page-sidebar-price__title Регистрация ООО
						.page-sidebar-price__price 1 000<span>a</span>
					.page-sidebar-banner
						img(src="uploads/img/banner2.png" alt="" title="").page-sidebar-banner__img
						.page-sidebar-banner__top
							h2 Специальная акция
							| до 31 декабря 2016 года
						.page-sidebar-banner__bottom
							h2 Приходящий бухгалтер
							| за 500 рублей в месяц
					.page-sidebar-garant
						h3.page-sidebar-garant__title Наша гарантия
						.page-sidebar-garant__day
							.day-value 7 <span>дней</span>
						| Зарегистрируем вашу компанию за 7 дней



		// Вам может пригодиться
		section.section-categories
			.global-layout
				.categories
					h2.categories__title.categories__title_blue Вам может пригодиться
					.categories-list.clearfix
						.categories-list__item
							.categories-list__thumbnail
								a(href="")
									img(src="uploads/img/info11.png" alt="" title="").categories-list__img
							.categories-list__title
								h3.categories-list__title
									a(href="#").categories-list__link Составление бизнес-планов
						.categories-list__item
							.categories-list__thumbnail
								a(href="")
									img(src="uploads/img/info8.png" alt="" title="").categories-list__img
							.categories-list__title
								h3.categories-list__title
									a(href="#").categories-list__link Составление и сдача отчетности в налоговую и фонды
						.categories-list__item
							.categories-list__thumbnail
								a(href="")
									img(src="uploads/img/info3.png" alt="" title="").categories-list__img
							.categories-list__title
								h3.categories-list__title
									a(href="#").categories-list__link Изготоволение печатей и&nbsp;штампов
						.categories-list__item
							.categories-list__thumbnail
								a(href="")
									img(src="uploads/img/info1.png" alt="" title="").categories-list__img
							.categories-list__title
								h3.categories-list__title
									a(href="#").categories-list__link Бухгалтерское сопровождение
		// Отзывы
		section.section-feedback
			.global-layout.fakebackground
				.feedback
					h2.feedback__title Отзывы клиентов
					.feedback-all
						a(href="#").feedback-all__link Все отзывы
					.feedback-list.clearfix
						.feedback-list__item
							.feedback-list__photo
								img(src="uploads/img/feedback1.png" alt="" title="").feedback-list__img
							.feedback-list__name Роберт Мясников
							.feedback-list__info Орловские молочные фермы
							.feedback-list__text Огромное спасибо компании «Вектор» за столь быстрое реагирование на наши запросы. Довольны бухгалтерским сопровождением от наших партнеров. компании «Вектор» за столь быстрое реагирование на наши запросы. Довольны бухгалтерским сопровождением от наших партнеров.
							.feedback-list__more
								a(href="").feedback-list__link Читать полностью
						.feedback-list__item
							.feedback-list__photo
								img(src="uploads/img/feedback2.png" alt="" title="").feedback-list__img
							.feedback-list__name Эльвира Александровна
							.feedback-list__info Индивидуальный предприниматель
							.feedback-list__text Ребята очень быстро помогли мне в регистрации своего дела! Очень долго это было просто моим увлечением и вот теперь стало полноценной работой! Спасибо Вектору за это!
							.feedback-list__more
								a(href="").feedback-list__link Читать полностью
		// СЕО-текст
		section.section-seotext
			.global-layout
				.seotext
					h2.seotext__title Копмлексное обслуживание ООО и ИП
					.seotext__text Комплексное обслуживание ООО и ИП в Орле — одна из наших основных специализаций. Опыт, знания, выработанныегодами методы решения задач и специалисты высшего уровня – залог успешной работы вашей будущей компании. Собираетесь ли вы зарегистрировать ООО или ИП или уже являетесь владельцев своего собственного бизнеса вы получаете высококлассное обслуживание за доступные средства. А заключая договор на бухгалтерские обслуживание с нашей компанией вы будете экономить средства на зарплату штатного сотрудника, организации его рабочего места, социальных выплатах, отпусках, больничных. В своей работе по оказанию бухгалтерских и юридических услуг для бизнеса мы ориентируемся на комплексный подход к выполнению задач плодотворное сотрудничество с представителями различных компаний, сфер и структур.
		// Меню футер
		section.section-footer-menu
			.global-layout
				.footer-menu.clearfix
					ul
						li.footer-menu__item
							a(href="#").footer-menu__link Бухгалтерские услуги
						li.footer-menu__item
							a(href="#").footer-menu__link Юридические услуги
						li.footer-menu__item
							a(href="#").footer-menu__link.link_hide Печати и штампы
						li.footer-menu__item
							a(href="#").footer-menu__link Бизнес услуги
						li.footer-menu__item
							a(href="#").footer-menu__link О компании
						li.footer-menu__item
							a(href="#").footer-menu__link Акции
						li.footer-menu__item
							a(href="#").footer-menu__link Контакты
		// Футер
		section.section-footer-info
			.global-layout
				.footer-info.clearfix
					.footer-info__copyright © 2016, Компания «Вектор». Все&nbsp;права защищены.
					.footer-contacts
						.footer-contacts__item
							.footer-contacts__phone (4862) 40-30-20
							a(href="mailto:mail@vector57.ru").footer-contacts__link mail@vector57.ru
						.footer-contacts__item
							.footer-contacts__adress Орел, ул. Комсомольская, 66, каб. 345 (3 этаж)
							a(href="").footer-contacts__link Схема проезда
						.footer-contacts__item
							.footer-contacts__social
					.footer-dev
						.footer-dev__logo
						.footer-dev__info Создание сайта:<br>
							a(href="").footer-dev__link «ОрелСайтСтрой»


		script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js")
		script(src="styles/default/js-libs/owl-carousel/owl.carousel.js")
		script(src="styles/default/js/main.js")







